version: "3.9"
services:
  backend:
    container_name: telegram-bot-microservice
    image: telegram-bot-microservice:{{ apps | selectattr('name', '==', 'telegram-bot-microservice') | map(attribute='version') | first }}
    environment:
      PG_CONNECTION_STRING: "{{ lookup('env', 'PG_CONNECTION_STRING') }}"
      TELEGRAM_TOKEN: "{{ lookup('env', 'TELEGRAM_TOKEN') }}"
    ports:
      - 80:80
    depends_on:
      - db
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
      resources:
        limits:
          memory: 256M
  db:
    container_name: postgres-database
    image: postgres:13.4-alpine
    environment:
      POSTGRES_PASSWORD: "{{ lookup('env', 'POSTGRES_PASSWORD') }}"
    deploy:
      resources:
        limits:
          memory: 256M
  # admin panel for database
  adminer:
    image: adminer
    ports:
      - 8080:8080
